
p {
    font-family: "Trebuchet MS", Helvetica, monospace;
    color: rgb(9, 11, 12);
    text-align: center;
    font-size: 1.5em;
}



header h1 {
    text-align: center;
    font-size: 5em;
    color: rgb(45, 98, 119);
  }

header h2 {
    text-align: center;
    font-size: 3em;
    color: 
    }

nav ul {
	text-align: center;
	padding: 0;
}

a:link {
    color: rgb(112, 101, 81);
}

a:visited {
    color: rgb(25, 14, 36);
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
    font-size: 2em;
    color: 666633;
}

#country_names {
    font-style: italic;
}

.picture {
    padding: 0 0 0 14em;
}

article {
    border: 3px solid rgb(13, 14, 15);
    background-color: rgb(250, 249, 248);
    padding-top: .001mm;
    padding-right: .001px;
    padding-bottom: .001px;
    padding-left: .001px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

section {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 1.25em;
}

div {
    padding-left: 8000xp;
}




body {
    background-image: url("images/europe.jpg");
}

img {
    border-radius: 10px;
  }

img {
    width:800px;
    height:600px;
  }

figcaption {
    font-size: 1.5em;
}

nav {
    text-align: center
}

